body {
  padding-top: 50px;
}

h1{
  font-family: 'Varela Round', sans-serif;
  font-weight: bolder;
}

p{
  font-family: 'Varela Round', sans-serif;
}

span {
  font-family: 'Varela Round', sans-serif;
}

#About{
  margin-top: -40px;
}

#titletext {
  font-size: 24pt;
  font-weight: bold;
}

#source{
  padding-top: 10px;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  font-variant: small-caps;
}

#links {
  text-align: center;
}

#jumbo {
  /* background: url("background.png"); */
  background-color: #466596;
  background-size: cover;
  color: white;
}

.iwidth{
  width: 15px;
}

.alignicons {
  vertical-align: middle;
  margin-right: 10px;
}

.clearboth {
  clear: both;
}

.bold {
  font-weight: bold;
}

.navbar {
  font-family: 'Varela Round', sans-serif;
}

.a-iconlink {
  color: #79869b;
  margin-right: 25px;
}

.a-iconlink:hover{
  color: #505e75;
}

.content {
  padding-right: 12%;
  padding-left: 12%;
}

.underline {
  text-decoration: underline;
}

.anchor {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.divide {
  height: 5px;
  background-color: #efefef;
  text-align: center;
  padding-top: 3px;

}

.navbar-brand {
  /* padding: 6px; */
}

.navbar-default {
  background-color: #a2bfc6;
  border-color: #85989d;
  font-weight: bold;

}
.navbar-default .navbar-brand {
  color: #164753;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #3093ac;
}
.navbar-default .navbar-text {
  color: #164753;
}
.navbar-default .navbar-nav > li > a {
  color: #164753;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #85989d;
  color: #164753;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #3093ac;
  background-color: #85989d;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #3093ac;
  background-color: #85989d;
}
.navbar-default .navbar-toggle {
  border-color: #85989d;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #85989d;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #164753;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #164753;
}
.navbar-default .navbar-link {
  color: #164753;
}
.navbar-default .navbar-link:hover {
  color: #3093ac;
}

.navbar-default .navbar-inner {
  background:transparent;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #164753;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #3093ac;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #3093ac;
    background-color: #85989d;
  }
}
