body {
  padding-top: 50px;
}

#jumbo {
  /*background: url("background.png");*/
  background-color: black;
  background-size: cover;
  color: white;
}

.content {
  padding-right: 3%;
  padding-left: 3%;
}

.underline {
  text-decoration: underline;
}

.anchor {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

.menu-item {
  padding-top: 40px; 
  margin-top: -40px;
}

/*.btn-default {
  background-color: #7f969b;
  border-color: transparent;
}*/

.overflow-hidden {
  overflow: hidden;
}



.navbar-default {
  background-color: #a2bfc6;
  border-color: #85989d;
  font-weight: bold;
}
.navbar-default .navbar-brand {
  color: #164753;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #3093ac;
}
.navbar-default .navbar-text {
  color: #164753;
}
.navbar-default .navbar-nav > li > a {
  color: #164753;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #85989d;
  color: #164753;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #3093ac;
  background-color: #85989d;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #3093ac;
  background-color: #85989d;
}
.navbar-default .navbar-toggle {
  border-color: #85989d;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #85989d;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #164753;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #164753;
}
.navbar-default .navbar-link {
  color: #164753;
}
.navbar-default .navbar-link:hover {
  color: #3093ac;
}

.navbar-default .navbar-inner {
  background:transparent;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #164753;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #3093ac;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #3093ac;
    background-color: #85989d;
  }
}



